
.backscreen {
    --background: #BBEAFC;
  }  

.toolbar-color {
    --background: #544E48;
    align-items: center;
}

.toolbar-title {
    font-size: 30px;
    color: #BBEAFC; 
}

.goback-icon {
    color: #BBEAFC; 
}