<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>New Camp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img *ngIf="cameraPreview" src="{{'data:image/jpeg;base64,' + cameraPreview}}" style="max-height: 40vh" />
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" class="btn-take-picture" (click)="takePicture()">Ta bilde</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-input type="text" [(ngModel)]="myTitle" placeholder="Title" class="title"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input type="text" [(ngModel)]="myDescription" placeholder="Description" class="description"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-input type="text" [(ngModel)]="myPosition" placeholder="Position" class="position"></ion-input>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" class="btn-post-firebase" (click)="postToFirebase()">Post til Firebase</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>