.background-style {
    --background: #BBEAFC;
  }  

.toolbar-color {
    --background: #544E48;
    align-items: center;
}

.toolbar-title {
    font-size: 30px;
    color: #BBEAFC; 
}
.goback-icon {
    color: #BBEAFC;
}

.card-style {
    --background: white;
}

.button-style {
    --background: rgb(74, 105, 153); 
}

.camera-style {
    width: 100%;
    height: 50%;
}


.description {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    --background: #544E48; 
}

.title {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    --background: #544E48; 
}

.position {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    --background: #544E48; 
}

