ion-card-content {
    background-color: rgb(75, 74, 74);
}

.description {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    background-color: rgb(104, 101, 101);
}

.title {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    background-color: rgb(104, 101, 101);
}

.position {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    background-color: rgb(104, 101, 101);
}