
.card-style {
    --background: white;
}

.card-posistion {
 
}

.card-title {
    margin-left: 5%;
    font-size: 20px;
    color: #242123;
}

.card-user {
    font-style: italic;
}

.card-posistion {
    margin-top: 5%;
    margin-left: 5%;
}
